@model IEnumerable<BusinessLogic.MonitoringHdd.HddState>

@{
    Layout = "../Layout.cshtml";
    ViewBag.Title = "HDD Statistics";
}

<table class="table table-striped">
    <tr class="text-center">
        <td><b>Id</b></td>
        <td><b>Date</b></td>
        <td><b>Drive Name</b></td>
        <td><b>Available Space</b></td>
    </tr>
    @foreach (var hs in Model)
    {
        <tr class="text-center">
            <td>@hs.Id</td>
            <td>@hs.Date</td>
            <td>@hs.Drive.Name</td>
            <td>@hs.AvailableSpace</td>
        </tr>
    }
</table>