@{
    Layout = "../Layout.cshtml";
    ViewBag.Title = "HDD Statistics";
}

<script>
    var maxHeight = 300;
    var columnsNumber = 10;
    var maxValue = 1000000000000;
    var lastShownId = 0;

    function ReadDrives() {
        $('#table-drives').children().remove();
        var options = {
            url: "http://localhost:15103/odata/Drive",
            success: function (data) {
                var arr = data.value;
                arr.forEach(function (dr) {
                    $('#drives-select').append('<option>' + dr.Name + '</option>');
                });
            }
        };
        $.ajax(options);
    }

    function ShowDriveUsage(id) {
        var area = $('#drives-area');
        var options = {
            
        };
    }

    function AppendState(dst, state) {
        AddCol(dst, state.AvailableSpace * maxHeight / maxValue, 99 / columnsNumber);
    }
</script>

<div class="ui-widget drives-widget draggable">
    <div class="ui-widget-header">
        <h4 class="text-center"><b>Drives</b></h4>
    </div>
    <div class="ui-widget-content">
        <div class="form-group form-inline">
            <select id="drives-select" class="form-control"></select>
            <button class="btn btn-default" onclick="ReadDrives();">Refresh</button>
        </div>
        <div id="drives-area" class="paint-area"></div>
    </div>
</div>