@{
    Layout = "../Layout.cshtml";
    ViewBag.Title = "HDD Statistics";
}

<script>
    painter = { maxHeight: 300, columnsNumber: 10, lastShownId: 0, period: 1000 };

    $(ReadDrives);

    function ReadDrives() {
        $('#drives-select').children().remove();
        var options = {
            url: "http://localhost:15103/odata/Drive",
            success: function (data) {
                var arr = data.value;
                arr.forEach(function (dr) {
                    $('#drives-select').append('<option>' + dr.Name + '</option>');
                    painter.drives[dr.Name] = dr;
                });
            }
        };
        painter.drives = {};
        $.ajax(options);
    }

    function Start() {
        if (typeof (painter.interval) != "undefined") {
            clearInterval(painter.interval);
        }
        Clear($('#drives-area'));
        painter.lastShownId = 0;
        painter.columnsNumber = $('#columns-number').val();

        var name = $('#drives-select').val();
        painter.interval = setInterval(function () { ShowNext(painter.drives[name].Id); }, painter.period);
    }

    function ShowNext(id) {
        var options = {
            url: "http://localhost:15103/odata/Hdd?$expand=Drive&$filter=Drive/Id eq " + id + " and Id gt " + painter.lastShownId + " &$top=1",
            success: function (data) {
                var state = data.value[0];
                if (typeof (state) != "undefined") {
                    AddState(state);
                }
            }
        };
        $.ajax(options);
    }

    function AddState(state) {
        var dst = $('#drives-area');
        var nCols = dst.children('.paint-col').length;
        if (nCols >= painter.columnsNumber) {
            RemoveCol(dst);
        }
        AddCol(dst, state.AvailableSpace / state.Drive.Size * painter.maxHeight, 99 / painter.columnsNumber)
            .append(state.Id + '<br/>').append((state.AvailableSpace / state.Drive.Size * 100).toFixed(1)+'%');
        painter.lastShownId = state.Id;
    }
</script>

<div class="ui-widget drives-widget draggable">
    <div class="ui-widget-header">
        <h4 class="text-center"><b>Drives</b></h4>
    </div>
    <div class="ui-widget-content">
        <div class="form-group form-inline">
            <select id="drives-select" class="form-control"></select>
            <select id="columns-number" class="form-control">
                <option>5</option>
                <option>10</option>
                <option>20</option>
            </select>
            <button class="btn btn-default" onclick="Start();">Start</button>
        </div>
        <div id="drives-area" class="paint-area"></div>
    </div>
</div>