@using System.Net.Http
@using System.Security.Policy
@model IQueryable<BusinessLogic.MonitoringMemory.MemoryState>

@{
    Layout = "../Layout.cshtml";
    ViewBag.Title = "Memory Statistics";
}

<div id="memory-area" style="border: solid 1px red; width: 600px; height: 300px"></div>

<script type="text/javascript">
    function GetMemoryStates(process, limit) {
        var options = {
            success: function(data) {
                process(data.value);
            }
        };
        if (typeof limit == "undefined") {
            options.url = "http://localhost:15103/odata/Memory";
        } else {
            options.url = "http://localhost:15103/odata/Memory?$orderby=Date&$top=" + limit;
        }

        $.ajax(options);
    }

    function AddState(state) {
        var memArea = $('#memory-area');
        var prevCol = memArea.children('.paint-col').last();
        if (state.Id == prevCol.find('.id').html())
        {
            return;
        }

        var totalMemory = 4096;
        var maxHeight = 300;
        var nCols = $('#memory-area > div').length;
        if (nCols >= 10)
        {
            RemoveCol('#memory-area');
        }
        AddCol('#memory-area', state.AvailableMemoryMb / totalMemory * maxHeight)
            .append('<div class="id">' + state.Id + '</div>')
            .append('<div class="available">' + state.AvailableMemoryMb + '</div>')
    }

    function AddFromDb() {
        var options = {
            success: function (data) {
                AddState(data.value[0]);
            },
            url: "http://localhost:15103/odata/Memory?$orderby=Date desc&$top=1"
        };
        $.ajax(options);
    }

    setInterval(AddFromDb, 1000);
</script>