@{
    Layout = "../Layout.cshtml";
    ViewBag.Title = "Memory Statistics";
}

<div class="ui-widget paint-widget draggable">
    <div class="ui-widget-header"><h4>Memory Statistics</h4></div>

    <div class="ui-widget-content">
        <div class="form-group form-inline">
            @Html.DropDownList("columnsNumber", new[]
            {
                new SelectListItem{Text="5"},
                new SelectListItem{Text="10"},
                new SelectListItem{Text="20"}
            }, new { @class="form-control"})
    <button class="btn btn-default" onclick="Start();">Start</button>
</div>
<div id="memory-area" class="paint-area"></div>
</div>
</div>

<script type="text/javascript">
    painter = {};
    painter.maxValue = 4096;
    painter.area = $('#memory-area');
    painter.maxHeight = 300;
    painter.period = 1000;

    function Start() {
        Clear(painter.area);
        if (typeof(painter.interval) != "undefined") {
            clearInterval(painter.interval);
        }

        painter.columnsNumber = $('#columnsNumber').val();
        painter.interval = setInterval(AddFromDb, painter.period);
        painter.lastPaintedId = 0;
    }

    function AddState(state) {
        var prevCol = painter.area.children('.paint-col').last();
        if (typeof (state) == "undefined" || state.Id == prevCol.find('.id').html()) {
            return;
        }

        var nCols = painter.area.children('div').length;
        if (nCols >= painter.columnsNumber) {
            RemoveCol(painter.area);
        }
        AddCol(painter.area, state.AvailableMemoryMb / painter.maxValue * painter.maxHeight, 99 / painter.columnsNumber)
            .append('<div class="id">' + state.Id + '</div>')
            .append('<div class="available">' + state.AvailableMemoryMb + '</div>');
        painter.lastPaintedId = state.Id;
    }

    function AddFromDb() {
        var options = {
            success: function (data) {
                AddState(data.value[0]);
            },
            url: "http://localhost:15103/odata/Memory?$top=1&$filter=Id gt " + painter.lastPaintedId
        };
        $.ajax(options);
    }

</script>