@using System.Net.Http
@using System.Security.Policy
@model IQueryable<BusinessLogic.MonitoringMemory.MemoryState>

@{
    Layout = "../Layout.cshtml";
    ViewBag.Title = "Memory Statistics";
}

<div id="my-area" style="border: solid 1px red; width: 600px; height: 300px"></div>

<button class="btn btn-default" onclick=" AddCol('#my-area', 100) ">
    Add
</button>

<button class="btn btn-default" onclick=" RemoveCol('#my-area') ">
    Remove
</button>

<button class="btn btn-default" onclick="AddCol('#my-area', 100);RemoveCol('#my-area')">
    Add-Remove
</button>

<script type="text/javascript">
    function GetMemoryStates(process, limit) {
        var options = {
            success: function(data) {
                process(data.value);
            }
        };
        if (typeof limit == "undefined") {
            options.url = "http://localhost:15103/odata/Memory";
        } else {
            options.url = "http://localhost:15103/odata/Memory?$orderby=Date&$top=" + limit;
        }

        $.ajax(options);
    }


</script>