.paint-col {
    border: solid 1px green;
    background-color: greenyellow;
    float: left;
}

.paint-area {
    border: solid 1px coral;
    background-color: azure;
    height: 300px;
}

.paint-widget {
    width: 600px;
}

.draggable {
    cursor: move;
}

.drives-widget {
    width: 600px;
}