@model string

@{
    ViewBag.Title = "Password Recovery";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h2>Password Recovery</h2>
<br/>
@using (Html.BeginForm("PasswordRecovery", "User", FormMethod.Post, new {@class = "form-horizontal"}))
{
    <div class="form-group">
        @Html.Label("Your Email ", new
        {
            @class = "control-label col-sm-3"
        })
        <div class="col-sm-6">
            @Html.TextBox("email", Model, new
            {
                @class = "form-control",
                @placeholder = "E-mail",
                @type = "email",
                @required = "",
                @pattern = "[^@]+@[^@]+\\.[a-zA-Z]{2,6}",
                @maxlength = "50"
            })
        </div>
        <button type="submit" class="btn btn-default">Send</button>
    </div>
}