@{
    Layout = "../Shared/Layout.cshtml";
    ViewBag.Title = "Home";
}
    <div>
        <a href="@Url.Action("LogIn", "Users")">Log In</a>
        <a href="@Url.Action("Register", "Users")">Registration</a>
    </div>