@using BL.Users

@model UserValidationResult

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogInResult</title>
</head>
<body>
    <h1>@Model.ToString()</h1>
</body>
</html>
