@using BL.Users

@model UserRegistrationResult

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistrationResult</title>
</head>
<body>
    <div>
        <h1>@Model.ToString()</h1>
    </div>
</body>
</html>
