@model BL.Users.User

@{
    Layout = "../Shared/Layout.cshtml";
    ViewBag.Title = "User Registration";
}

@using (Html.BeginForm("Registration", "User", FormMethod.Post, new { @class = "form-horizintal", @role = "form" }))
{
    <div class="form-group row">
        <label class="col-xs-2 control-label">Login</label>
        <div class="col-xs-10">
            @Html.TextBox("login", Model.Login, new { @class = "form-control", placeholder = "Login", required = "" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-2 control-label">Password</label>
        <div class="col-xs-10">
            @Html.TextBox("password", Model.Password, new { @class = "form-control", placeholder = "Password", required = "" })
        </div>
    </div>
    <button class="btn btn-default pull-right" type="submit">Register</button>
}