@model BL.Users.User

@{
    Layout = "../Shared/Layout.cshtml";
    ViewBag.Title = "User Registration";
}

<script type="text/javascript" src="../../Static/Users.js"></script>

@using (Html.BeginForm("Registration", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="form-group has-feedback">
        <label class="col-xs-2 control-label">Login</label>
        <div class="col-xs-10 login-div validate">
            @Html.TextBox("login", "", new { @class = "form-control", placeholder = "Login", required = "", onchange = "checkLoginIsEmpty('.login-div','" + Url.Action("Exists") + "')" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-2 control-label">Password</label>
        <div class="col-xs-10">
            @Html.TextBox("password", "", new {@class = "form-control", placeholder = "Password", required = ""})
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-xs-2 control-label">Sex</label>
        <div class="col-xs-10">
            @Html.DropDownList("isMale", new[]
            {
                new SelectListItem {Selected = true, Value = "true", Text = "Male"},
                new SelectListItem {Value = "false", Text = "Female"}
            }, new {@class = "form-control"})
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-xs-2 control-label">Avatar</label>
        <div class="col-xs-10">
            <input name="avatar" type="file" class="form-control"/>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label class="col-xs-2 control-label">Email</label>
        <div class="col-xs-10 email-div validate">
            @Html.TextBox("email", "", new { @class = "form-control", type = "email", placeholder = "Email", required = "", onchange = "EmailOnChange('.email-div')" })
        </div>
    </div>
    
    <button id="btn-submit" class="btn btn-default pull-right" type="submit">Register</button>
}