#msg-container {
    border: solid gainsboro;
    overflow: auto;
}

.msg-div {
    min-height: 60px;
}

.msg-user {
    height: 50px;
    width: 50px;
    float: left;
}

.msg-date {
    height: 100%;
    width: 100px;
    float: right;
}

.msg-body {
    height: 100%;
    margin-left: 50px;
    margin-right: 100px;
}

.msg-body>div {
    margin-left: 10px;
    margin-right: 10px;
}