.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-avatar-div {
    height: 70px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-bottom: 20px
}
#user-avatar-div:hover,
#user-avatar-div:active {
  text-decoration: none;
  background-color: #eeeeee;
}

#user-avatar-div>div {
    margin-left: 5px;
    margin-right: 10px;
}
#user-avatar-div>img {
    margin-left: 10px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#user-avatar-menu {
    margin-left: 20px;
    margin-right: 50px;
}